[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_PARTYKIT_HOST = "tabula.ethx42.partykit.dev"

[[plugins]]
  package = "@netlify/plugin-nextjs"

